*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #373737;
}

main {
    width:90%;
    max-width: 1000px;
    margin: 30px auto;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

header {
    overflow:hidden;
    background: #262626;
    color: gold;
    padding: 20px;
}

header h1 {
    float:left;
}

nav {
    float:right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

section {
    background: #434343;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid gold;
}

h2 {
    color: gold;
    margin-bottom: 15px;
}

#home {
    text-align: center;
}

section a {
    color: gold;
}

.hightlight {
    color: gold;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 2px solid rgb(0, 0, 0);
}

th {
    background: gold
}

th, td {
    padding:10px;
    text-align: center;
}